.table-box {
  border: rgba(33, 37, 41, 0.25) solid 1px;
  border-radius: 2px;
}
.table-box table {
  border-top: rgba(33, 37, 41, 0.25) solid 1px;
}
tr{
  text-align: center;
}

.header-sort-btn {
  text-decoration: none;
  font-weight: 600;
}

.header-sort-btn:hover {
  text-decoration: underline;
}

.inventory-filter-menu {
  min-width: 260px;
}
